<div class="container">
      <h1 class="title init">Bowling Game<h1>
	 <div class="newScore">
                <%= link_to "Add new game", new_throwing_path, class: "index-link" %>
	  </div>

      <div class="index">

      <ul>
	    <li class="subTitle">Input</li>
            <% @throwings.each do |throwing| %>
              <li> <%= throwing.entrada %> </li>  
            <% end %>
      </ul>

      <ul>
	    <li class="subTitle">Score</li>
            <% @throwings.each do |throwing| %>
              <li> <%= throwing.score %> </li>  
            <% end %>
      </ul>
      </div>

</div>
