<div class="container">
	<h1 class="title">Bowling Game<h1>

	<div class="cal">
	  <p>Calculate your final result of your game line!</p>

		<%-#verificar si el usuario ingresa 20 o 21 numeros si no enviar un aviso que le falta ingresar valores.-%>
	</div>

	<div class="field">
	  <div class="control"> 
	    <label class="label">Enter all rolls per frame </label>
	    <input class="input is-primary" type="text" placeholder="rolls">
	  </div>
	</div>
	
	<div class="control">
	  <button class="button is-primary">Score</button>
	</div>
</div>
