<div class="container">
	<h1 class="title">Bowling Game<h1>

	<div class="cal">
		<p>Calcula tu resultado final de tu linea de juego!</p>
		<p>Acontinuacion selecciona los lanzamientos por cuadro o frame</p>

		<%-#verificar si el usuario ingresa 20 o 21 numeros si no enviar un aviso que le falta ingresar valores.-%>
	</div>

	<div class="select">
	  <select>
	    <option>Throwings</option>
	    <option>0</option>
	    <option>1</option>
	    <option>3</option>
	    <option>4</option>
	  </select>
	</div>

	<div class="control">
	  <button class="button is-primary">Resultado total</button>
	</div>
</div>
